apiVersion: v1
kind: Service
metadata:
  name: nginx-app
  namespace: {{ .Values.namespace }}
spec:
  type: ClusterIP
  selector:
    app: nginx-app
  ports:
  - port: 80
    targetPort: {{ .Values.service.targetPort }}
